.home {
  height: 100%;
}

body .btn-group, .btn-group-vertical {
  width: 100%;
  margin-top: 25px;
}

body .btn-group .btn:active {
  outline: none;
}

body .btn-group .btn:focus {
  outline: none;
}

body .btn.btn-outline-primary:focus {
  background-color: white;
  color: #007bff;
}

body .btn.btn-outline-primary:active {
  background-color: white;
  color: #007bff;
}

.card {
  min-height: 160px;
  max-height: 160px; 
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  border: none;
  overflow: none;
}

.card:not(.top-three) {
  min-width: 333px !important; 
  max-width: 666px;
  width: 333px;
}

body .top-three.card {
  flex: 1 auto;
  width: 100%;
  min-height: 320px;
  max-height: 320px;
}

.top-three .card-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.top-three .card-body ol {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}

.top-three .card-body ol li {
  list-style-position: inside;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

body .home .card-deck {
  flex-direction: none;
  justify-content: center;
  flex-flow: row wrap;
}

.card-title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

body .card-deck .card {
  margin-bottom: 30px;
  flex: 1 auto;
}